@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}


.enemy {
    height: 10%;
    width: 10%;
    background-color:black;
    position: absolute;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    &:focus {
        outline:none;
    }
    &--regular {
        background: url("/images/gwbush-low.png");
        background-size:contain;
    }
    &--contact {
        background: url("/images/fire-explosion.png");
        background-size:contain;
    }
    &--dead {
        background: url("/images/fire-explosion.png");
        background-size:contain;
        animation: fade-out 2s linear forwards;
    }
    &--fast {
        background: url("/images/gwbush-speed.png");
        background-size:contain;
    }
    &--heavy {
        background: url("/images/enemy-heavy.png");
        background-size:contain;
    }
    &--shooter {
        background: url("/images/enemy-shooter.png");
        background-size:contain;
    }
}