@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}


.fancy-square {
    height: 10vh;
    width: 7vh;
    background-color:black;
    position: absolute;
    background: url("/images/borat.png");
    background-size:contain;
    background-position:center;
    &:focus {
        outline:none;
    }
}