@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}


.projectile {
    height: 10%;
    width: 10%;
    background-color:black;
    position: absolute;
    background: url("/images/missile.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    &:focus {
        outline:none;
    }
    &--contact {
        background: url("/images/fire-explosion.png");
        background-size:contain;
    }
    &--dead {
        background: url("/images/fire-explosion.png");
        background-size:contain;
        animation: fade-out 0.2s linear forwards;
    }
}